header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 60px;

  padding: 0 40px;

  background-color: black;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.fav-link {
  text-decoration: none;
  color: black;

  padding: 5px 14px;
  border-radius: 4px;

  background-color: white;
}